@media screen and (max-width:600px)
{
    .theme-btn
    {
        width: 50px !important;
        height: 50px !important;;
    }
    .controls
    {
        top:auto;
        bottom:0;
        flex-direction: row;
        justify-content:center;
        left:50%;
        transform: translateX(-50%);
        width: 100%;
        background-color:var(--color-grey-5);
        .control
        {
            margin:1rem .3rem !important;
        }
    }
    .about
    {
        .about-container
        {
            grid-template-columns: 1fr;
            .right-about
            {
                padding-top:2.5rem;
                grid-template-columns: 1fr;
            }
            .left-about
            {
                padding-right: 0;
                p
                {
                    padding-left: 0;
                }
            }
        }
    }

    .about-timeline
    {
        .timeline
        {
            grid-template-columns: 1fr;
            padding-bottom: 6rem;
        }
    }
    .section
    {
        padding: 2rem 2.5rem !important;
    }
    #portfolio .main-title .portfolios 
    {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    #blogs .blog-content .blogs 
    {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .main-title
    {
        h2
        {
            font-size: 2.5rem !important;
            span
            {
                font-size: 2.5rem !important;
            }
            .bg-text
            {
                font-size: 3rem !important;
            }
        }
    }
    #portfolio .main-title .port-text
    {
        padding:2.5rem 0;
    }
    #contact
    {
        // max-height: 400px !important;
    }
}

@media screen and (max-width:970px)
{
    .section
    {   
        padding: 7rem 6rem;
    }   
    header
    {
        padding:0;

    }
    header .right-header
    {
        padding:2rem !important;
    }


    .theme-btn
    {
        width: 70px;
        height:70px;
    }

    .header-content
    {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .left-header
    {
        .h-shape
        {
            display: none;
        }
        .image
        {
            margin: 0 auto !important;
            width: 90% !important;
        }
    }
    .right-header
    {
        grid-row:1;
        width: 90%;
        margin: 0 auto;
        .name
        {
            font-size: 2.5rem !important;
        }
    }
    .controls
    {
        top:auto;
        bottom:0;
        flex-direction: row;
        justify-content:center;
        left:50%;
        transform: translateX(-50%);
        width: 100%;
        background-color:var(--color-grey-5);
        .control
        {
            margin:1rem 2rem;
        }
    }
    .about-stats
    {
        .progress-bars
        {
            grid-template-columns: 1fr;
        }
    }
    .main-title
    {
        h2
        {
            font-size: 3rem !important;
            span
            {
                font-size: 3rem !important;
            }
            .bg-text
            {
                font-size: 4rem !important;
            }
        }
    }
}
@media screen and (max-width:1070px)
{
    .about
    {
        .about-container
        {
            grid-template-columns: 1fr;
            .right-about
            {
                padding-top: 2.5rem;
            }
        }
    }
    #portfolio .main-title .portfolios 
    {
        grid-template-columns: 1fr 1fr;
    }
    #blogs .blog-content .blogs 
    {
        grid-template-columns: 1fr 1fr; 
    }
    #portfolio .main-title .port-text
    {
        padding:4.5rem 0;
    }
    .main-title
    {
        h2
        {
            font-size: 4rem !important;
            span
            {
                font-size: 4rem !important;
            }
            .bg-text
            {
                font-size: 5rem !important;
            }
        }
    }
}
@media screen and (max-width:1432px)
{
    header
    {
        padding:0 !important;
    }
    .section
    {
        padding:7rem 11rem;
    }
    #contact .content-con
    {
        flex-direction: column;
        .right-contact
        {
            margin-left:0;
            margin-top:2.5rem;
        }
    }
    #contact .content-con .right-contact .input-1
    {
        flex-direction:column;
    }
    
    #contact .content-con .right-contact .input-1 :last-child
    {
        margin-left: 0;
        margin-top:1.5rem;
    } 
}